<!doctype html>
<html>
    <head><title>Test</title>
        <meta charset=utf-8>
        
    </head>
<body>
    
    http://127.0.0.1:5000/fetch
    <!-- <form action="/fetch" method="GET">
         <label for="message">Message:</label><br> -->
        <!-- <input type="text" id="message" name="message"><br><br> -->
        <!-- <label for="location">Location:</label><br>
        <label >Longitude:</label> <input type="location" id="lon" name="lon"> <label>latitude:</label>  <input type="location" id="lat" name="lat"><br><br>
        
       
            <button><a>Send</a></button><br>
    </form> --> 


    
</body>    


</html>